@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vaul-overlay-background: 255, 255, 255;
  --vaul-overlay-background-start: rgba(0, 0, 0, 0);
  --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);

  --ds-shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
  --ds-shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-small: var(--ds-shadow-border), var(--ds-shadow-small);
  --ds-shadow-medium: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 8px -8px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-medium: var(--ds-shadow-border), var(--ds-shadow-medium);
  --ds-shadow-large: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-large: var(--ds-shadow-border), var(--ds-shadow-large);
  --ds-shadow-tooltip: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.04);
  --ds-shadow-menu: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px -4px rgba(0, 0, 0, 0.04),
    0px 16px 24px -8px rgba(0, 0, 0, 0.06);
  --ds-shadow-modal: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --ds-shadow-fullscreen: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --ds-focus-color: #0070f3;
  --ds-focus-ring: 0 0 0 2px var(--color-gray-100), 0 0 0 4px var(--ds-focus-color);
  --main: hsl(0 0 100%);
  --subtle: hsl(0 0 98%);
  --el-bg: hsl(0 0 99%);
  --el-hover-bg: hsl(0 0 96%);
  --el-active-bg: hsl(0 0 93%);
  --transparent-border: hsl(0 0 88%);
  --transparent-border-hover: hsl(0 0 84%);
  --transparent-border-active: hsl(0 0 80%);
  --solid-border: hsl(0 0 92%);
  --solid-border-hover: hsl(0 0 86%);
  --solid-border-active: hsl(0 0 82%);
  --primary: hsl(240 6 10%);
  --secondary: hsl(240 5 34%);
  --tertiary: hsl(240 5 65%);
  --disabled: hsl(240 5 77%);
}

.dark {
  --main: #1f1f1f;
  --subtle: #242424;
  --el-bg: #2b2b2b;
  --el-hover-bg: #363636;
  --el-active-bg: #3d3d3d;
  --transparent-border: #3a3a3a;
  --transparent-border-hover: #4b4b4b;
  --transparent-border-active: #545454;
  --solid-border: #444444;
  --solid-border-hover: #525252;
  --solid-border-active: #5c5c5c;
  --primary: #f3f3f5;
  --secondary: #c1c1c6;
  --tertiary: #74747b;
  --disabled: #5a5a5e;
}

body,
main {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  background: black;
}

main {
  min-height: 100vh;
  background: white;
}

html {
  height: -webkit-fill-available;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.dotted {
  background-image: linear-gradient(#d4d4d8 33%, rgba(255, 255, 255, 0) 0%);
  background-size: 1px 4px;
}

.dotted-right {
  background-position: right;
  background-repeat: repeat-y;
}

.dotted-bottom {
  background-image: repeating-linear-gradient(90deg, #d4d4d8 0px, #d4d4d8 1px, transparent 1px, transparent 4px);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.dotted-top {
  background-image: repeating-linear-gradient(90deg, #d4d4d8 0px, #d4d4d8 1px, transparent 1px, transparent 4px);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: top;
}

pre > code {
  font-size: 13px;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

p > code {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: var(--solid-border);
  background-color: var(--subtle);
  padding: 2px 3.6px;
  font-size: 0.8571429em;
}
