@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* overflow: hidden; */
}

body,
main {
  height: 200vh;
  overflow-x: hidden;
}

html {
  background: black;
}

main {
  min-height: 100vh;
  background: white;
}

html {
  height: -webkit-fill-available;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
