@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vaul-overlay-background: 255, 255, 255;
  --vaul-overlay-background-start: rgba(0, 0, 0, 0);
  --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);
}

html,
body {
  overflow: hidden;
}

body,
main {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

html {
  background: black;
}

main {
  min-height: 100vh;
  background: white;
}

html {
  height: -webkit-fill-available;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.dotted {
  background-image: linear-gradient(#d4d4d8 33%, rgba(255, 255, 255, 0) 0%);
  background-size: 1px 4px;
}

.dotted-right {
  background-position: right;
  background-repeat: repeat-y;
}

.dotted-bottom {
  background-position: bottom;
  background-repeat: repeat-x;
}
