@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vaul-overlay-background: 255, 255, 255;
  --vaul-overlay-background-start: rgba(0, 0, 0, 0);
  --vaul-overlay-background-end: rgba(0, 0, 0, 0.4);
}

body,
main {
  min-height: 400vh;
  overflow-x: hidden;
}

html {
  background: black;
}

main {
  background: white;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
