@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
}

body,
main {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

html {
  height: -webkit-fill-available;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration: underline;
}
