[vaul-drawer] {
  touch-action: none;
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[vaul-drawer][vaul-drawer-direction='bottom'] {
  transform: translate3d(0, 100%, 0);
}

[vaul-drawer][vaul-drawer-direction='top'] {
  transform: translate3d(0, -100%, 0);
}

[vaul-drawer][vaul-drawer-direction='left'] {
  transform: translate3d(-100%, 0, 0);
}

[vaul-drawer][vaul-drawer-direction='right'] {
  transform: translate3d(100%, 0, 0);
}

.vaul-dragging .vaul-scrollable [vault-drawer-direction='top'] {
  overflow-y: hidden !important;
}
.vaul-dragging .vaul-scrollable [vault-drawer-direction='bottom'] {
  overflow-y: hidden !important;
}

.vaul-dragging .vaul-scrollable [vault-drawer-direction='left'] {
  overflow-x: hidden !important;
}

.vaul-dragging .vaul-scrollable [vault-drawer-direction='right'] {
  overflow-x: hidden !important;
}

[vaul-drawer][vaul-drawer-visible='true'][vaul-drawer-direction='top'] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[vaul-drawer][vaul-drawer-visible='true'][vaul-drawer-direction='bottom'] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[vaul-drawer][vaul-drawer-visible='true'][vaul-drawer-direction='left'] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[vaul-drawer][vaul-drawer-visible='true'][vaul-drawer-direction='right'] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[vaul-overlay] {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[vaul-overlay][vaul-drawer-visible='true'] {
  opacity: 1;
}

[vaul-drawer]::after {
  content: '';
  position: absolute;
  background: inherit;
  background-color: inherit;
}

[vaul-drawer][vaul-drawer-direction='top']::after {
  top: initial;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 200%;
}

[vaul-drawer][vaul-drawer-direction='bottom']::after {
  top: 100%;
  bottom: initial;
  left: 0;
  right: 0;
  height: 200%;
}

[vaul-drawer][vaul-drawer-direction='left']::after {
  left: initial;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 200%;
}

[vaul-drawer][vaul-drawer-direction='right']::after {
  left: 100%;
  right: initial;
  top: 0;
  bottom: 0;
  width: 200%;
}

[vaul-overlay][vaul-snap-points='true']:not([vaul-snap-points-overlay='true']):not([data-state='closed']) {
  opacity: 0;
}

[vaul-overlay][vaul-snap-points-overlay='true']:not([vaul-drawer-visible='false']) {
  opacity: 1;
}

/* This will allow us to not animate via animation, but still benefit from delaying unmount via Radix. */
@keyframes fake-animation {
  from {
  }
  to {
  }
}
