[vaul-drawer] {
  will-change: transform;
  touch-action: none;
  animation: show-dialog 0.5s cubic-bezier(0.32, 0.72, 0, 1);
  transform: translateY(var(--snap-point-height, 0));
}

[vaul-drawer]::after {
  content: '';
  position: absolute;
  top: 100%;
  background: inherit;
  background-color: inherit;
  left: 0;
  right: 0;
  height: 200%;
}

[vaul-drawer][data-state='closed'] {
  animation: hide-dialog 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

[vaul-drawer][vaul-closed-by-dragging='true'] {
  animation: fake-animation 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

[vaul-overlay]:not([vaul-snap-points='true']) {
  animation: show-overlay 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[vaul-overlay][vaul-snap-points='true']:not([vaul-snap-points-overlay='true']) {
  opacity: 0;
}

[vaul-overlay][vaul-snap-points-overlay='true'] {
  opacity: 1;
}

[vaul-overlay][vaul-theme-transition='true'] {
  animation: show-theme-overlay 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[vaul-overlay][data-state='closed']:not([vaul-snap-points='true']),
[vaul-overlay][data-state='closed'][vaul-snap-points-overlay='true'] {
  animation: hide-overlay 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

[vaul-overlay][vaul-theme-transition='true'][data-state='closed'] {
  animation: hide-theme-overlay 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

/* This will allow us to not animate via animation, but still benefit from delaying unmount via Radix. */
@keyframes fake-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-dialog {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(var(--snap-point-height, 0));
  }
}

@keyframes hide-dialog {
  from {
    transform: translateY(var(--hide-from, 0));
  }
  to {
    transform: translateY(var(--hide-to, 100%));
  }
}

@keyframes show-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-overlay {
  from {
    opacity: var(--opacity-from, 1);
  }
  to {
    opacity: 0;
  }
}

@keyframes show-theme-overlay {
  from {
    background: var(--vaul-overlay-background-start);
  }
  to {
    background: var(--vaul-overlay-background-end);
  }
}

@keyframes hide-theme-overlay {
  from {
    background: var(--vaul-overlay-background-end);
  }
  to {
    background: var(--vaul-overlay-background-start);
  }
}

@media (hover: hover) and (pointer: fine) {
  [vaul-drawer] {
    user-select: none;
  }
}
