[vaul-drawer] {
  will-change: transform;
  touch-action: none;
  animation: show-dialog 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[vaul-drawer]::after {
  content: '';
  position: absolute;
  top: 100%;
  background: inherit;
  background-color: inherit;
  left: 0;
  right: 0;
  height: 200%;
}

[vaul-drawer][data-state='closed'] {
  animation: hide-dialog 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

[vaul-drawer][vaul-closed-by-dragging='true'] {
  animation: fake-animation 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

[vaul-overlay] {
  animation: show-overlay 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[vaul-overlay][data-state='closed'] {
  animation: hide-overlay 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

/* This will allow us to not animate via animation, but still benefit from delaying unmount via Radix. */
@keyframes fake-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-dialog {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hide-dialog {
  from {
    transform: translateY(var(--hide-from, 0));
  }
  to {
    transform: translateY(var(--hide-to, 100%));
  }
}

@keyframes show-overlay {
  from {
    background: rgba(255, 255, 255);
  }
  to {
    background: rgba(200, 200, 200);
  }
}

@keyframes hide-overlay {
  from {
    background: rgba(200, 200, 200);
  }
  to {
    background: rgba(255, 255, 255);
  }
}

@media (hover: hover) and (pointer: fine) {
  [vaul-drawer] {
    user-select: none;
  }
}
